@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<pre>
<a href="/Home/Chat">/Home/Chat</a>
<a href="/Home/Orders">/Home/Orders</a>
<a href="/Home/TestSignalRMore">/Home/TestSignalRMore</a>
</pre>

@if (!string.IsNullOrWhiteSpace(ViewBag.userStr))
{
    <pre>@ViewBag.userStr</pre>
}

@if (!string.IsNullOrWhiteSpace(ViewBag.myUserStr))
{
    <pre>@ViewBag.myUserStr</pre>
}
